swagger: "2.0"
info:
  description: This is the swagger file that goes with our server code
  version: "1.0.0"
  title: Swagger REST Article
consumes:
  - "application/json"
produces:
  - "application/json"

basePath: "/api"



paths:
                
  /notebook:

    get:
      operationId: notebook.getAllNotebook
      tags:
        - Notebook
      summary: Read the entire list of notebook
      description: Read the list of notebook
      responses:
        200:
          description: "Successful read notebook list operation"
          schema:
            type: array
            items:
              properties:
                notebook_id:
                  type: integer
                notebook_name:
                  type: string
                createdDate:
                  type: string
                docker_image_name:
                  type: string
                deployment_name:
                  type: string
          examples:
            success:
              value:
                - notebook_id: 1
                  notebook_name: 'first notebook'
                  createdDate: '2020-03-27 21:00:00'
                  docker_image_name: 'This is a docker image'
                  deployment_name: 'deployment'
  
                - notebook_id: 2
                  notebook_name: 'second notebook'
                  createdDate: '2020-03-27 22:00:00'
                  docker_image_name: 'This is a docker image'
                  deployment_name: 'deployment'


    post:
      operationId: notebook.newNotebook
      tags:
        - Notebook
      summary: Create a notebook and add it to the notebooks list
      description: Create a new notebook in the notebooks list
      parameters:
        - name: notebook
          in: body
          description: Notebook to create
          required: True
          schema:
            type: object
            properties:
              notebook_name:
                type: string
                description:  name of notebook to create

      responses:
        201:
          description: Successfully created notebook in list
          schema:
            type: object
            properties:
              notebook_id:
                type: integer
              notebook_name:
                type: string
              createdDate:
                  type: string
                docker_image_name:
                  type: string
                deployment_name:
                  type: string
                status:
                  type: string
          examples:
            success:
              value:
                - notebook_id: 3
                  notebook_name: 'New Notebook'
                  createdDate: '2020-10-31 21:05:46'
                  docker_image_name: 'This is a docker image'
                  deployment_name: 'deployment'
                  status: 'Done'

  /notebook/{notebook_id}:
    get:
      operationId: "notebook.getNotebookById"
      tags:
        - Notebook
      summary: Read one notebook from the notebooks list
      description: Read one notebook from the notebooks list
      parameters:
        - name: notebook_id
          in: path
          description: "id"
          type: integer
          required: True
      responses:
        201:
          description: Successfully read notebook from notebooks list operation
          schema:
            properties:
              notebook_id:
                type: integer
              notebook_name:
                type: "string"
              createdDate:
                type: "string"
              docker_image_name:
                type: string
              deployment_name:
                type: string


          examples:
            success:
              value:
                - notebook_id: 1
                  notebook_name: 'first notebook'
                  createdDate: '2020-10-31 21:05:46'
                  docker_image_name: 'This is a docker image'
                  deployment_name: 'deployment'

    put:
      operationId: notebook.updateNotebook
      tags:
        - Notebook
      summary: Update a notebook in the notebooks list
      description: Update a notebook in the notebooks list
      parameters:
        - name: notebook_id
          in: path
          description: "id of the notebook to update in the list"
          type: integer
          required: True

        - name: notebook
          in: body
          schema:
            type: object
            properties:
              notebook_name:
                type: string

      responses:
        200:
          description: Successfully updated notebook from notebooks list operation
          schema:
            properties:
              notebook_id:
                type: integer
              notebook_name:
                type: "string"
              createdDate:
                type: "string"
              docker_image_name:
                 type: string
              deployment_name:
                type: string
          examples:
            success:
              value:
                - notebook_id: 1
                  notebook_name: 'new notebook name'
                  createdDate: '2020-10-31 21:05:46'
                  docker_image_name: 'This is a docker image'
                  deployment_name: 'deployment'


    delete:
      operationId: notebook.deleteNotebook
      tags:
        - Notebook
      summary: Delete a notebook from the notebooks list
      description: Delete a notebook
      parameters:
        - name: notebook_id
          in: path
          type: integer
          required: True
      responses:
        200:
          description: Successfully deleted a notebook from notebook list

  /training:
    get:
      operationId: training.getAllTraining
      tags:
        - Training
      summary: Read the entire list of training
      description: Read the list of training
      responses:
        200:
          description: "Successful read training list operation"
          schema:
            type: array
            items:
              properties:
                training_id:
                  type: integer
                training_name:
                  type: string
                createdDate:
                  type: string
                endpoints:
                  type: array
                  items:
                    properties:
                      training_id:
                        type: integer
                      endpoint_id:
                        type: integer
                      endpoint_name:
                        type: string
                      createdDate:
                        type: string
          examples:
            success:
              value:
                - training_id: 5
                  training_name: 'first training'
                  createdDate: '2020-03-27 21:00:00'
                  endpoints:
                    - endpoint_id: 1
                      training_id: 5
                      endpoint_name: 'my first endpoint'
                      createdDate: '2020-03-27 20:00:00'

                    - endpoint_id: 2
                      training_id: 5
                      endpoint_name: 'my second endpoint'
                      createdDate: '2020-03-27 20:00:00'
                    
                - training_id: 3
                  training_name: 'second training'
                  createdDate: '2020-03-27 22:00:00' 
                  endpoints:
                    - endpoint_id: 3
                      training_id: 3
                      endpoint_name: 'my first endpoint'
                      createdDate: '2020-03-27 20:00:00'

                    - endpoint_id: 4
                      training_id: 3
                      endpoint_name: 'my second endpoint'
                      createdDate: '2020-03-27 20:00:00'
                  
    post:
      operationId: training.newTraining
      tags:
        - Training
      summary: Create a training and add it to the trainings list
      description: Create a new training in the trainings list
      parameters:
        - name: training
          in: body
          description: training to create
          required: True
          schema:
            type: object
            properties:
              training_name:
                type: string
                description:  name of training to create

      responses:
        201:
          description: Successfully created training in list
          schema:
            type: object
            properties:
              training_name:
                type: string
              training_id:
                type: integer
              createdDate:
                type: string
              status:
                type: string
          examples:
            success:
              value:
                  training_id: 14
                  training_name: 'a new training'
                  createdDate: '2020-03-27 19:00:02'
                  status: 'Done'

  /training/{training_id}:
    put:
      operationId: training.updateTraining
      tags:
        - Training
      summary: Update a training in the trainings list
      description: Update a training in the trainings list
      parameters:
        - name: training_id
          in: path
          description: "id of the training to update in the list"
          type: integer
          required: True

        - name: training
          in: body
          schema:
            type: object
            properties:
              training_name:
                type: string

      responses:
        200:
          description: Successfully updated training
          schema:
            properties:
              training_id:
                type: integer
              training_name:
                type: string
              createdDate:
                type: string

    get:
      operationId: training.getTrainingById
      tags:
        - Training
      summary: Read one training from the trainings list
      description: Read one training from the trainings list
      parameters:
        - name: training_id
          in: path
          description: "id"
          type: integer
          required: True
      responses:
        200:
          description: Successfully read training from trainings list operation
          schema:
            properties:
              training_name:
                type: "string"
              training_id:
                type: integer
              createdDate:
                type: "string"
              endpoints:
                type: array
                items:
                  properties:
                    training_id:
                      type: integer
                    endpoint_id:
                      type: integer
                    endpoint_name:
                      type: string
                    createdDate:
                        type: string
          examples:
            success:
              value:
                training_id: 7
                training_name: 'my training'
                createdDate: '2020-03-26 21:02:00'
                endpoints:
                  - training_id: 7
                    endpoint_id: 3
                    endpoint_name: 'first endpoint'
                    createdDate: '2020-03-26 20:00:00'              

    delete:
      operationId: training.deleteTraining
      tags:
        - Training
      summary: Delete a training from the trainings list
      description: Delete a training
      parameters:
        - name: training_id
          in: path
          type: integer
          required: True
      responses:
        200:
          description: Successfully deleted a training from training list

  /endpoints:
    get:
      operationId: endpoint.getAllEndpoint
      tags:
        - Endpoint
      summary: Read the entire list of endpoint
      description: Read the list of endpoint
      responses:
        200:
          description: "Successfull read endpoint list operation"
          schema:
            type: array
            items:
              properties:
                endpoint_id:
                  type: integer
                endpoint_name:
                  type: string
                createdDate:
                  type: string
                training_id:
                  type: integer

          examples:
            success:
              value:
                - endpoint_id: 5
                  endpoint_name: 'first endpoint'
                  createdDate: '2020-03-27 21:00:00'
                  training_id: 1


                - endpoint_id: 3
                  endpoint_name: 'second endpoint'
                  createdDate: '2020-03-27 22:00:00' 
                  training_id: 2
                              
  /endpoints/endpoint:             
    post:
      operationId: endpoint.newEndpoint
      tags:
        - Endpoint
      summary: Create a endpoint and add it to the endpoints list
      description: Create a new endpoint in the endpoints list
      parameters:
        - name: endpoint
          in: body
          description: endpoint to create
          required: True
          schema:
            type: object
            properties:
              endpoint_name:
                type: string
              training_id:
                type: integer
                
      responses:
        201:
          description: Successfully created endpoint in list
          schema:
            type: object
            properties:
              endpoint_id:
                type: integer
              training_id:
                type: integer
              endpoint_name:
                type: string
              createdDate:
                type: string
              status:
                type: string
          examples:
            success:
              value:
                endpoint_id: 14
                training_id: 56
                endpoint_name: 'newEndpoint'      
                createdDate: '2020-03-27 19:00:02'
                status: 'Done'
        409:
          description: 'Endpoint already exists'

  /endpoint/{endpoint_id}:
    put:
      operationId: endpoint.updateEndpoint
      tags:
        - Endpoint
      summary: Update a endpoint in the endpoints list
      description: Update a endpoint in the endpoints list
      parameters:
        - name: endpoint_id
          in: path
          description: Id of the endpoint associated with a person
          type: integer
          required: True
        - name: endpoint
          in: body
          schema:
            type: object
            properties:
              endpoint_name:
                type: string
              training_id:
                type: integer

      responses:
        '200':
          description: 'ok'
          schema:
            properties:
              endpoint_id:
                type: string
              training_id:
                type: string
              endpoint_name:
                type: string
              createdDate:
                type: string
        '404':
          description: 'not found one endpoint with this id'

    get:
      operationId: "endpoint.getEndpointById"
      tags:
        - Endpoint
      summary: Read one endpoint from the endpoints list
      description: Read one endpoint from the endpoints list
      parameters:
        - name: endpoint_id
          in: path
          description: "id"
          type: integer
          required: True

      responses:
        201:
          description: Successfully read endpoint from endpoints list operation
          schema:
            properties:
              endpoint_id:
                type: integer
              training_id:
                type: integer
              endpoint_name:
                type: "string"
              createdDate:
                type: "string"

          examples:
            success:
              value:
                endpoint_id: 7
                training_id: 9 
                endpoint_name: 'OneEndpoint'
                createdDate: '2020-03-26 21:02:00'             

        404:
          description: 'Unable to find the endpoint with given endpoint_id'

    delete:
      operationId: endpoint.deleteEndpoint
      tags:
        - Endpoint
      summary: Delete a endpoint from the endpoints list
      description: Delete a endpoint
      parameters:
        - name: endpoint_id
          in: path
          type: integer
          required: True

      responses:
        200:
          description: Successfully deleted a endpoint from endpoint list
        404:
          description: 'not found endpoint with the given endpoint_id'